body {
    background-color: rgb(56, 206, 156);
}
p {
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    color: brown;
    font-style: italic;
}